[submodule "libjpeg-turbo"]
	path = jni/vendor/libjpeg-turbo
	url = https://github.com/openstf/android-libjpeg-turbo.git
[submodule "jni/vendor/libjpeg-turbo"]
	path = jni/vendor/libjpeg-turbo
	url = https://github.com/openstf/android-libjpeg-turbo.git
